.content {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 10px 5px 0px 10px;
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */ }
  @media only screen and (min-width: 768px) {
    .content {
      margin: 10px; } }
  @media only screen and (min-width: 992px) {
    .content {
      margin: 20px; } }
  @media only screen and (min-width: 1200px) {
    .content {
      margin: 25px; } }

.badge-unread {
  margin-left: 10px;
  background-color: #D5DAE3; }

.badge-unread.high {
  color: #f00; }

.feeds {
  display: inline-block;
  flex: 1; }
  .feeds .group-list {
    overflow-y: auto;
    overflow-x: auto; }

.group {
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 100;
  cursor: pointer; }
  .group.closed {
    color: #A19E9E; }
    .group.closed ~ ul {
      display: none; }
  .group.open ~ ul {
    display: block; }

.feed-list {
  padding: 0;
  list-style-type: none;
  padding-left: 15px;
  border-left: 1px solid #dfdfdf;
  margin-left: 10px; }
  .feed-list .feed {
    line-height: 1.5;
    font-size: .95em;
    font-weight: normal; }
    .feed-list .feed.unread a {
      color: #014783; }
    .feed-list .feed.read a {
      color: #6789A6; }

.articles {
  display: inline-block;
  flex: 2 4;
  padding-left: 25px; }

h2.feed-title {
  margin-top: 0; }

.article-list {
  padding: 0;
  list-style-type: none; }

.article {
  margin: 0 0 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #CECECE;
  width: 75%; }
  .article p, .article div {
    margin: 0;
    padding: 0; }
  .article .article-pub-date,
  .article .article-category {
    padding-left: 5px; }
  .article .article-title {
    font-size: 1.25em;
    text-decoration: underline; }
  .article .article-pub-date {
    display: inline-block;
    color: #939393;
    font-size: .85em; }
  .article .article-creator {
    display: inline-block;
    margin-left: 5px;
    font-size: .85em; }
  .article .article-description {
    clear: both; }
    .article .article-description img {
      max-width: 100%; }
